<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title th:text="${title}"></title>
</head>
<body>

<!--HEADER-->
<th:block th:include="/fragments/header"></th:block>
<!--MUNCUL JIKA CART KOSONG-->
<th:block th:if="${cartForm == null || cartForm.cartLines == null || cartForm.cartLines.empty}">
	<div class="container">
		<div class="container-fluid">
			<div class="page-header">
				<div class="jumbotron">
					<h2>Data Pembelian Anda Masih Kosong</h2>
					<a class="link" th:href="@{|/index|}">Klik ini untuk belanja barang !</a>
				</div>
			</div>
		</div>
	</div>
</th:block>

<!--MUNCUL JIKA ADA CART TERISI-->
<th:block th:if="${cartForm!=null || cartForm.cartLines!=null||!cartForm.cartLines.empty}">
	<form method="POST" th:object="${cartForm}" th:action="@{/cart}">
		<div class="container">
			<div class="container-fluid">
				<button onclick="location.href='/validationCartCustomer';" class="pull-right btn btn-success">
					Validation Your Cart !
				</button>
				<div class="page-header">
					<h4>Total: <span th:utext="${amount}"></span></h4>
				</div>
				<br/>
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th>Pict</th>
							<th>Quantity</th>
							<th>Name</th>
							<th>Price</th>
							<th>Opsi</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cartLineModelInfo, varStatus : ${cartForm.cartLines}">
							<td class="col-sm-8 col-md-6">
								<div class="media">
									<a class="thumbnail pull-left" th:href="@{/}">
										<img th:src="@{|/productImage?code=${cartLineModelInfo.productModelInfo.idproduct}|}"
											 class="media-object" style="width:72px; heigh:72px;"/>
									</a>
									<div class="media-body">
										<h5 class="media-heading" style="color:blue;"
											th:utext="${cartLineModelInfo.productModelInfo.name}"></h5>
										<h5 class="media-heading" style="color:blue;"
											th:utext="${cartLineModelInfo.productModelInfo.price}" >
										</h5>
									</div>
								</div>
							</td>
							<td>
								<br/>
								<div class="col-lg-10">
								<input type="number" class="form-control"
								th:name="|cartLines[${varStatus.index}].quantity|"
								th:value="${cartLineModelInfo.quantity}" min="1" max="10"/>
									<!--idproduct hidden-->
									<input type="hidden" th:name="|cartLines[${varStatus.index}].productModelInfo.idproduct|"
									th:value="${cartLineModelInfo.productModelInfo.idproduct}"/>
								</div>
							</td>
							<td>
								<br/>
								<span th:utext="${cartLineModelInfo.productModelInfo.name}"></span>
							</td>
							<td>
								<br/>
								<span th:utext="${#numbers.formatDecimal(cartLineModelInfo.productModelInfo.price,3,2,'COMMA')}"></span>
							</td>
							<td>
								<br/>
								<a onclick="return confirm('yakin ingin membatalkan item ini?')"
								   th:href="@{|/removeCartItem?code=${cartLineModelInfo.productModelInfo.idproduct}|}" class="btn btn-danger">
									cancel
								</a>
								<br/>
								<button type="submit" class="btn btn-primary">
									update
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</form>
</th:block>
<!--FOOTERS-->
<br/>
<br/>
<th:block th:include="/fragments/footers"></th:block>
</body>
</html>